@keyframes wobble-horizontal {

    0%,
    100% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(-25%) rotate(-5deg);
    }

    30% {
        transform: translateX(20%) rotate(3deg);
    }

    45% {
        transform: translateX(-15%) rotate(-3deg);
    }

    60% {
        transform: translateX(10%) rotate(2deg);
    }

    75% {
        transform: translateX(-5%) rotate(-1deg);
    }
}

@keyframes wobble-vertical {

    0%,
    100% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(-25%) rotate(-5deg);
    }

    30% {
        transform: translateY(20%) rotate(3deg);
    }

    45% {
        transform: translateY(-15%) rotate(-3deg);
    }

    60% {
        transform: translateY(10%) rotate(2deg);
    }

    75% {
        transform: translateY(-5%) rotate(-1deg);
    }
}

@keyframes wobble-br {


    0%,
    100% {
        transform: translate(0, 0) rotate(0deg);
    }

    15% {
        transform: translate(-25%, 25%) rotate(-5deg);
    }

    30% {
        transform: translate(20%, -20%) rotate(3deg);
    }

    45% {
        transform: translate(-15%, 15%) rotate(-3deg);
    }

    60% {
        transform: translate(10%, -10%) rotate(2deg);
    }

    75% {
        transform: translate(-5%, 5%) rotate(-1deg);
    }
}

@keyframes wobble-tr {


    0%,
    100% {
        transform: translate(0, 0) rotate(0deg);
    }

    15% {
        transform: translate(-25%, -25%) rotate(-5deg);
    }

    30% {
        transform: translate(20%, 20%) rotate(3deg);
    }

    45% {
        transform: translate(-15%, -15%) rotate(-3deg);
    }

    60% {
        transform: translate(10%, 10%) rotate(2deg);
    }

    75% {
        transform: translate(-5%, -5%) rotate(-1deg);
    }
}

@keyframes wobble-top {

    0%,
    100% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-25%) rotate(-5deg);
    }
}

@keyframes wobble-bottom {

    0%,
    100% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(25%) rotate(5deg);
    }
}

@keyframes wobble-skew {

    0%,
    100% {
        transform: skewX(0deg);
    }

    25% {
        transform: skewX(15deg);
    }

    50% {
        transform: skewX(-15deg);
    }

    75% {
        transform: skewX(10deg);
    }
}

@keyframes buzz {

    0%,
    100% {
        transform: translateX(0) rotate(0deg);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-2px) rotate(-2deg);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(2px) rotate(2deg);
    }
}

@keyframes buzz-out {
    0% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateX(10px) rotate(10deg);
        opacity: 0;
    }
}

.hover\:animate-wobble-horizontal:hover {
    animation: wobble-horizontal 1s ease-in-out;
}

.hover\:animate-wobble-vertical:hover {
    animation: wobble-vertical 1s ease-in-out;
}

.hover\:animate-wobble-br:hover {
    animation: wobble-br 1s ease-in-out;
}

.hover\:animate-wobble-tr:hover {
    animation: wobble-tr 1s ease-in-out;
}

.hover\:animate-wobble-top:hover {
    animation: wobble-top 1s ease-in-out;
}

.hover\:animate-wobble-bottom:hover {
    animation: wobble-bottom 1s ease-in-out;
}

.hover\:animate-wobble-skew:hover {
    animation: wobble-skew 1s ease-in-out;
}

.hover\:animate-buzz:hover {
    animation: buzz 0.75s linear infinite;
}

.hover\:animate-buzz-out:hover {
    animation: buzz-out 0.5s ease forwards;
}

/******BAGROUND***********/
@layer utilities {
    @keyframes bounce-to-right {
        0% {
            background-position: left center;
        }

        50% {
            background-position: right center;
        }

        100% {
            background-position: left center;
        }
    }

    @keyframes bounce-to-left {
        0% {
            background-position: right center;
        }

        50% {
            background-position: left center;
        }

        100% {
            background-position: right center;
        }
    }

    @keyframes bounce-to-top {
        0% {
            background-position: center bottom;
        }

        50% {
            background-position: center top;
        }

        100% {
            background-position: center bottom;
        }
    }

    @keyframes bounce-to-bottom {
        0% {
            background-position: center top;
        }

        50% {
            background-position: center bottom;
        }

        100% {
            background-position: center top;
        }
    }

    .bounce-bg {
        background-size: 200% 200%;
        background-repeat: no-repeat;
        background-position: center;
        transition: background 0.3s ease;
    }

    .hover\:bounce-to-right:hover {
        background-image: linear-gradient(to right, #3b82f6 50%, #ffffff 50%);
        animation: bounce-to-right 0.6s forwards;
    }

    .hover\:bounce-to-left:hover {
        background-image: linear-gradient(to left, #3b82f6 50%, #ffffff 50%);
        animation: bounce-to-left 0.6s forwards;
    }

    .hover\:bounce-to-top:hover {
        background-image: linear-gradient(to top, #3b82f6 50%, #ffffff 50%);
        animation: bounce-to-top 0.6s forwards;
    }

    .hover\:bounce-to-bottom:hover {
        background-image: linear-gradient(to bottom, #3b82f6 50%, #ffffff 50%);
        animation: bounce-to-bottom 0.6s forwards;
    }
}

/****Transiciones***********/

.outline-out,
.outline-in {
    position: absolute;
    pointer-events: none;
    inset: 0;
    border-radius: inherit;
    transition: transform 0.4s ease, opacity 0.3s ease;
    z-index: 0;
}




@keyframes ripple-in {
    0% {
        top: -16px;
        right: -16px;
        bottom: -16px;
        left: -16px;
        opacity: 0;
    }

    50% {
        top: -4px;
        right: -4px;
        bottom: -4px;
        left: -4px;
        opacity: 0.8;
    }

    100% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
    }
}

.ripple-in {
    position: relative;
    overflow: visible;
    z-index: 0;
    border: none;
}

.ripple-in::before {
    content: '';
    position: absolute;
    border: 3px solid #3b82f6;
    top: -16px;
    right: -16px;
    bottom: -16px;
    left: -16px;
    opacity: 0;
    z-index: -1;
    border-radius: 0.5rem;
    pointer-events: none;
    animation-fill-mode: forwards;
}

.ripple-in:hover::before {
    animation: ripple-in 0.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}


@keyframes ripple-out {
    0% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
    }

    50% {
        top: -16px;
        right: -16px;
        bottom: -16px;
        left: -16px;
        opacity: 1;
    }

    100% {
        top: -16px;
        right: -16px;
        bottom: -16px;
        left: -16px;
        opacity: 0;
    }
}

.ripple-out {
    position: relative;
    overflow: visible;
    z-index: 0;
    border: none;
}

.ripple-out::before {
    content: '';
    position: absolute;
    border: 3px solid #3b82f6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    border-radius: 0.5rem;
    pointer-events: none;
    animation-fill-mode: forwards;
}

.ripple-out:hover::before {
    animation: ripple-out 0.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}


.outline-out::after {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: 0 0 0 0 #3b82f6;
    opacity: 0;
    transition: box-shadow 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
    z-index: -1;
}

.group:hover .outline-out::after {
    box-shadow: 0 0 0 2px #3b82f6;
    opacity: 1;
    transform: scale(1.1);
}


.outline-in::after {
    content: '';
    position: absolute;
    inset: -8px;
    box-shadow: 0 0 0 2px #3b82f6;
    opacity: 0;
    transform: scale(1.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
    z-index: -1;
}

.group:hover .outline-in::after {
    transform: scale(1);
    opacity: 1;
}



.underline-from-left::after,
.underline-from-center::after,
.underline-from-right::after,
.underline-reveal::after,
.overline-reveal::before,
.overline-from-left::before,
.overline-from-center::before,
.overline-from-right::before {
    content: "";
    position: absolute;
    background-color: #3b82f6;
    transition: transform 0.3s ease;
    left: 0;
    right: 0;
}

.underline-from-left::after {
    bottom: 0;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
}

.underline-from-left:hover::after {
    transform: scaleX(1);
}

.underline-from-center::after {
    bottom: 0;
    height: 2px;
    transform: scaleX(0);
    transform-origin: center;
}

.underline-from-center:hover::after {
    transform: scaleX(1);
}

.underline-from-right::after {
    bottom: 0;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
}

.underline-from-right:hover::after {
    transform: scaleX(1);
}

.reveal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #3b82f6;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    pointer-events: none;
}

.reveal:hover::before {
    transform: scaleX(1);
}

.reveal {
    position: relative;
    z-index: 0;
}

.reveal span {
    position: relative;
    z-index: 10;
}

.underline-reveal {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.underline-reveal::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #3b82f6;
    
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.underline-reveal:hover::after {
    transform: translateY(0);
}


.overline-reveal {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.overline-reveal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #3b82f6;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.overline-reveal:hover::before {
    transform: translateY(0);
}


.overline-from-left::before {
    top: 0;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
}

.overline-from-left:hover::before {
    transform: scaleX(1);
}

.overline-from-center::before {
    top: 0;
    height: 2px;
    transform: scaleX(0);
    transform-origin: center;
}

.overline-from-center:hover::before {
    transform: scaleX(1);
}

.overline-from-right::before {
    top: 0;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
}

.overline-from-right:hover::before {
    transform: scaleX(1);
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.overflow-hidden {
    overflow: hidden;
}

/********************ICONOS*************************/
.icon-animated i {
    transition: all 0.4s ease;
}

.icon-back:hover i {
    transform: translateX(-8px);
}

.icon-forward:hover i {
    transform: translateX(8px);
}

.icon-up:hover i {
    transform: translateY(-8px);
}

.icon-down:hover i {
    transform: translateY(8px);
}

.icon-spin:hover i {
    animation: icon-spin 0.6s linear infinite;
}

@keyframes icon-spin {
    100% {
        transform: rotate(360deg);
    }
}

.icon-float-away:hover i {
    transform: translateY(-20px);
    opacity: 0;
}

.icon-sink-away:hover i {
    transform: translateY(20px);
    opacity: 0;
}

.icon-drop:hover i {
    transform: scale(1.2) translateY(6px);
}

.icon-fade:hover i {
    opacity: 0.3;
}

.icon-grow:hover i {
    transform: scale(1.3);
}

.icon-shrink:hover i {
    transform: scale(0.8);
}

.icon-pulse:hover i {
    animation: icon-pulse 0.6s ease-in-out infinite;
}

@keyframes icon-pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.icon-pulse-grow:hover i {
    animation: icon-pulse-grow 0.6s ease-in-out infinite;
}

@keyframes icon-pulse-grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.icon-pulse-shrink:hover i {
    animation: icon-pulse-shrink 0.6s ease-in-out infinite;
}

@keyframes icon-pulse-shrink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

.icon-push:hover i {
    transform: scale(0.9);
}

.icon-pop:hover i {
    transform: scale(1.1);
}

.icon-float:hover i {
    transform: translateY(-6px);
}

.icon-sink:hover i {
    transform: translateY(6px);
}

.icon-bob:hover i {
    animation: icon-bob 0.4s ease infinite alternate;
}

@keyframes icon-bob {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-6px);
    }
}

.icon-hang:hover i {
    animation: icon-hang 0.4s ease infinite alternate;
}

@keyframes icon-hang {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(6px);
    }
}

.icon-wobble-horizontal:hover i {
    animation: wobble-horizontal 1s ease-in-out;
}

.icon-wobble-vertical:hover i {
    animation: wobble-vertical 1s ease-in-out;
}

.icon-buzz:hover i {
    animation: buzz 0.5s linear infinite;
}

.icon-buzz-out:hover i {
    animation: buzz-out 0.5s ease forwards;
}

@keyframes wobble-horizontal {

    0%,
    100% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(-25%) rotate(-5deg);
    }

    30% {
        transform: translateX(20%) rotate(3deg);
    }

    45% {
        transform: translateX(-15%) rotate(-3deg);
    }

    60% {
        transform: translateX(10%) rotate(2deg);
    }

    75% {
        transform: translateX(-5%) rotate(-1deg);
    }
}

@keyframes wobble-vertical {

    0%,
    100% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(-25%) rotate(-5deg);
    }

    30% {
        transform: translateY(20%) rotate(3deg);
    }

    45% {
        transform: translateY(-15%) rotate(-3deg);
    }

    60% {
        transform: translateY(10%) rotate(2deg);
    }

    75% {
        transform: translateY(-5%) rotate(-1deg);
    }
}

@keyframes buzz {

    0%,
    100% {
        transform: translateX(0) rotate(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-2px) rotate(-2deg);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(2px) rotate(2deg);
    }
}

@keyframes buzz-out {
    0% {
        transform: translateX(0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: translateX(10px) rotate(10deg);
        opacity: 0;
    }
}

/***********************TRANSICION GLOW Y SHADOW***************************/


.shadow-glow {
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    transition: box-shadow 0.3s;
}

.shadow-glow:hover,
.shadow-glow:focus,
.shadow-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}


.shadow-default {
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    transition: box-shadow 0.3s;
}

.shadow-default:hover,
.shadow-default:focus,
.shadow-default:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}


.shadow-grow {
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    transition: transform 0.3s, box-shadow 0.3s;
}

.shadow-grow:hover,
.shadow-grow:focus,
.shadow-grow:active {
    transform: scale(1.1);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}


.shadow-outset {
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    transition: box-shadow 0.3s;
}

.shadow-outset:hover,
.shadow-outset:focus,
.shadow-outset:active {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}


.shadow-inset {
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s;
}

.shadow-inset:hover,
.shadow-inset:focus,
.shadow-inset:active {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
}


.shadow-float {
    display: inline-block;
    position: relative;
    transform: perspective(1px) translateZ(0);
    transition: transform 0.3s;
}

.shadow-float::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 5%;
    width: 90%;
    height: 10px;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    transition: transform 0.3s, opacity 0.3s;
}

.shadow-float:hover,
.shadow-float:focus,
.shadow-float:active {
    transform: translateY(-5px);
}

.shadow-float:hover::before,
.shadow-float:focus::before,
.shadow-float:active::before {
    opacity: 1;
    transform: translateY(5px);
}

.shadow-radial {
    display: inline-block;
    position: relative;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.shadow-radial::before,
.shadow-radial::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    opacity: 0;
    background-repeat: no-repeat;
    transition: opacity 0.3s;
}

.shadow-radial::before {
    bottom: 100%;
    background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.6) 0%, transparent 80%);
}

.shadow-radial::after {
    top: 100%;
    background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.6) 0%, transparent 80%);
}

.shadow-radial:hover::before,
.shadow-radial:focus::before,
.shadow-radial:active::before,
.shadow-radial:hover::after,
.shadow-radial:focus::after,
.shadow-radial:active::after {
    opacity: 1;
}